#equipment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    li{
        margin-bottom : 9px;
        display: flex;
        align-items: center;
        gap : 9px;
        
        svg{
            color: rgb(101, 101, 245)
        }
    }
}

@media screen and (max-width: 620px){
    #equipment{
        grid-template-columns: 1fr;
    }
}