footer{
    background-color: #1F2937;
    
    padding-bottom : 50px;
    padding-top : 45px;

    
    >div > div{
        
        display: flex;
        justify-content: space-around;
        gap: 25px;
        padding-bottom : 40px;
        
        div{
            display: flex;
            flex-direction: column;
            gap : 9px;

            *{
                color : white
            }
    
            h2{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 13px;
            }

            a{
                color :#D1D5DB
            }
            
        }

    }

    p{
        color: #9CA3AF;
        text-align: center;
        border-top : 1px solid;
        padding-top : 34px;
    }
}

