header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    >a{
        font-family: "Pacifico", cursive;
        color: #FF6B6B;
        font-size: 24px;
    }

    nav ul{
        display: flex;
        gap : 34px;

        a{
            color : #374151
        }
    }
}